@charset "utf-8";

body {
    font:       16px/1.5 Helvetica Neue, Arial, Microsoft Yahei, Helvetica, sans-serif, Lato;
    color:      $body-color;
    // overflow:   hidden;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, label {
    margin:  0;
    padding: 0;
}

table {
    border-collapse: collapse; 
    border-spacing:  0;
}

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
    font-style:  normal;
    font-weight: normal;
}

ul, ol { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 {
    font-size:   100%;
    font-weight: normal;
}

abbr, acronym {
    border:       0;
    font-variant: normal;
}

a { color: $link-color; }
a:link, a:hover, a:active {
    color:           $link-hover-color;
    outline:         0 none;
    text-decoration: none;
}
a:link, a:active, a:visited {
    color: $link-color;
}

textarea { resize: none; }

input, textarea, select, button {
    outline:            none;
    border:             1;
}
