@charset 'utf-8';
@import  '../core';

/* admin public */
.#{$prefix}-main {
    position:           absolute;
    top:                40px;
    left:               100px;
    bottom:             0;
    width:              calc(100% - 120px);
    min-height:         200px;
    padding:            10px;
}
