@charset "utf-8";
@import "../core";

$img-nav-url:   #{$img-url}#{'nav/'}      !default;
$img-login-url: #{$img-url}#{'login/'}    !default;

/* index */
#app {
    .#{$prefix}-header {
        padding:            10px;
        border-bottom:      1px #ccc solid;
    }

    .#{$prefix}-container {
        padding:                10px;
    }
}
