<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,IE=9,IE=10,IE=11">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="http://test-portal.sinobbd.com/static/bigdata/img/global/slogo.png" type="image/x-icon"/>
</head>
<body>
    <div id="app"></div>
</body>
</html>
