@charset "utf-8";
// prefix
$prefix: hl !default;

//【Colors】
// 设置全局颜色值.
$white:  #fff    !default;
$black:  #000    !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;

// 设置全局字体颜色值.
$deep-red:      #d05340 !default;

$light-grey:    #f9fafa !default;
$light-blue:    #00b1ff !default;
$light-black:   #1e272e !default;

//【Options】
// 设置全局开关默认值.
$enable-rounded:     true  !default; // 启用圆角.
$enable-shadows:     true  !default; // 启用阴影.
$enable-transitions: true  !default; // 启用过渡效果.

//【Body】
// 设置body默认背景颜色、字体颜色.
$body-bg:       $light-grey   !default;
$body-color:    $blue         !default;

//【Links】
// 设置链接默认值.
$link-color:            $light-blue              !default;
$link-decoration:       none                     !default;
$link-hover-color:      $deep-red                !default;
$link-hover-decoration: underline                !default;

//【Spacing】
$letter-spacing:     1.4px !default;

//【Border】
$border-width: 1px !default;

//【Radius】
$border-radius: 6px !default;

//【Font】

//【Tables】

//【Buttons】
$login-input:  rgba(207, 216, 224, .7)  !default;
$login-submit: #d05340                  !default;

//【Forms】

//【Z-index】

//【Alerts】

//【Close】

//【Error】

//【3d】

//【Url】
$img-url:        '../../../assets/images/'  !default;
$img-global-url: #{$img-url}#{'global/'}    !default;

//【其他】
$login-placeholder: #fff !default;
