@charset "utf-8";

/* margin*/
.#{$prefix}-mgn-t-10 { margin-top:      10px; }
.#{$prefix}-mgn-r-20 { margin-right:    20px; }
.#{$prefix}-mgn-r-40 { margin-right:    40px; }
.#{$prefix}-mgn-b-10 { margin-bottom:   10px; }

/* padding */
