@charset "utf-8";

/* 遮罩 */
.#{$prefix}-mask {
    position:           absolute;
    bottom:             0;
    z-index:            998;
    width:              100%;
    height:             100%;
    overflow:           hidden;
    background-color:   rgba($black, .65);
}
