@charset    'utf-8';

/* admin-transition */
.fade-enter {
    opacity: 0;
    @include animation(fade_enter 1s ease 0s forwards );
}

.fade-exit {
    opacity: 0;
    @include animation(fade_exit 1s ease 0s forwards);
}

@include keyframes(fade_enter) {
    0% {
        opacity:    0;
    }
    100% {
        opacity:    1;
    }
}

@include keyframes(fade_exit) {
    0% {
        opacity:    0;
    }
    100% {
        opacity:    1;
    }
}
