@charset "utf-8";

@mixin box-sizing($type: content) {
    @if $type == "content" {
        box-sizing: content-box;
        -ms-box-sizing: content-box;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
    } @else {
        box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

}
